html {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box;
}

h2 {
    font-family: Georgia, serif;
    font-size: 1em/1.2;
    line-height: 1.2;
}

section {
    display: flex;
    justify-content: space-between;
    max-width: 70vw;
    margin: 10em;
}

h2 {
    width: 180px;
}

p {
    width: 239px;
}

