* {
    box-sizing: border-box;
}

div {
    display: flex;
    flex-flow: row nowrap;
    justify-items: center;
    max-width: 65vw;
    border: 1px solid black;
}

section.week {
    display: flex;
    flex-flow: row wrap;
    justify-items: center;
    flex: 0 1 100%
}

section.notes {
    display: flex;
    flex-direction: column;
}

section.week span {
    text-align: center;
    padding-top: 15px;
    flex: 0 1 20%;
}

section.notes span {
    min-height: 201px;
    min-width: 200px;
    text-align: center;
    padding-top: 5px;
}

span {
    border: 1px solid black;
}

section.week span:nth-child(1),
section.week span:nth-child(7) {
    flex: 0 1 100%;
}

section.week span:nth-child(8), 
section.week span:nth-child(9) {
    flex: 0 1 50%;
}