* {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

header {
    border-bottom: 2px solid rgb(0, 0, 0);
    width: 90%;
    margin: 0 auto;
}

header h1 {
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
}

main {
    width: 90%;
    margin: 0 auto;
}

main h2 {
    font-family: Georgia, serif;
    font-weight: 500;
}


