* {
    box-sizing: border-box;
}

body {
    background-color: rgb(238, 238, 238);
    width: 35%;
    margin: 5% auto;
}

h1 {
    font-family: Georgia, serif;
    font-size: 1em;
}

img {
    position: absolute;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
}

.text-box {
    background-color: rgb(255, 255, 255);
    position: absolute;
    padding: 1.4em;
    bottom: 75px;
    width: 500px;
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
}

button {
    background-color: rgb(0, 153, 0);
    border: none;
    color: rgb(255, 255, 255);
    padding: 0.6em 0.8em;
    border-radius: 0.3em;
    float: right;
}

.shadow {
    box-shadow: 0px 0px 31px -6px rgba(0,0,0,0.75);
    position: absolute;
    top: 76.5px;
    width: 500px;
    height: calc(100% - (75.950px * 2));
    z-index: 2;
    border-radius: 0.3em;
}