@import url('https://use.fontawesome.com/releases/v5.8.2/css/all.css');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Montserrat, sans-serif;
    line-height: 1.2;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-size: cover;
    height: 100vh;
}

.btn {
    padding: 1rem;
    width: 10rem;
    margin: 0.5rem;
    border: none;
    border-radius: 5px;
}

.btn-fb {
    background-color: #05f;
    color: #fff;
}

.btn-go {
    background-color: #fff;
    color: #333;
    box-shadow: 0px 0px 5px 1px #ccc;
}

input[type=submit], .btn-go, .btn-fb {
    cursor: pointer;
}

.container{
    justify-content: center;
    background-color: #fff;
    flex-wrap: wrap;
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    width: 25rem;
    margin: 10rem auto;
}

.btn.btn-go:hover {
    color: white;
    cursor: pointer;
    background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.btn.btn-fb:hover {
    color: white;
    cursor: pointer;
    background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.container > h2 {
    width: 24rem;
    padding: 1rem;
    text-align: center;
    color: #333;
}

.container > form {
    width: 100%;
    padding: 1rem;
}

.container > form > input[type=submit] {
    padding: 1rem;
    width: 100%;
    border-radius: 5px;
    color: white;
    background-color: #222;
    border: none;
}

.container > form > input[type=text], input[type=password]{
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 0.7rem 1rem;
    width: 100%;
    margin: 2rem 0.2rem;
    border-radius: 6px;
}

.container > form > input[type=text]:hover, input[type=password]:hover{
    border: 2px solid rgb(216, 31, 250);
}

.container > form > input[type=text]:focus, input[type=password]:focus {
    outline: 1px solid #05f;
    border-radius: 5px;
}