html {
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.5;
    padding: 0 5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.site-title {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 0px;
}

hr {
    border: 1px solid;
}

body {
    background-color: rgb(238, 238, 238);
}

img {
    padding: 0.5em;
    border: 2px solid black;
    background-color: rgb(255, 255, 255);
    box-shadow:rgba(0, 0, 0, 0.25);
}

