body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 2% 13%;
    background-color: rgb(238, 238, 238);
}

.site-title {
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 35px;
    margin: 10px 0;
}

header, main {
    position: relative;
    width: 80%;
}

hr {
    border: 1px solid black;
}

img {
    padding: 5px;
    border: 2px solid black;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0px 25px 0 rgba(0, 0, 0, 0.25);
    position: relative;
}

.firstImage {
    margin-left: 20px;
    float: right;
}

blockquote {
    font-family: Georgia, serif;
    border-left: 2px solid grey;
    float: right;
    position: relative;
    width: 50%;
    color:rgb(94, 94, 94);
    font-style: italic;
    padding-left: 20px;
    margin: 0 0 0 10px;
}

blockquote > p {
    float: right;
}

.secondImage {
    margin-right: 20px;
    float: left;
}

aside {
    position: absolute;
    top: 125px;
    right: 170px;
}

h1, h2, h3 {
    font-family: Georgia, serif;
}







