body {
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51);
    width: 75%;
}

article {
    float: left;
    width: 50%;
    margin-left: 2%;
}

aside {
    float: right;
    position: absolute;
    display: initial;
    width: 15%;
}

section img {
  border-radius: 10px;
  width: 50%;
}